.fakeqq-message {
  margin-top: 15px;
  margin-bottom: 15px;
}

.left-chat {
  display: flex;
  align-items: flex-start;
}

.right-chat {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.fakeqq-message__content {
  display: flex;
  flex-direction: column;
  max-width: 65%;
}

.fakeqq-message__content > img {
  width: 30vw;
  min-width: 100px;
  max-height: 400px;
  border-radius: 15px;
}

.fakeqq-message__name {
  margin-bottom: 5px;
  font-size: 12px;
  color: #8b8b8b;
}

.right-chat .fakeqq-message__name {
  text-align: right;
}

.fakeqq-message__avatar {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fakeqq-message__text-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  background: transparent;
}

// .fakeqq-message__bubble-arrow {
//   position: absolute;
//   top: 11px;
//   border-top: 10px solid white;
//   z-index: 100;
// }

// .left-chat .fakeqq-message__bubble-arrow {
//   left: -8px;
//   border-left: 10px solid transparent;
// }

// .right-chat .fakeqq-message__bubble-arrow {
//   right: -8px;
//   border-right: 10px solid transparent;
// }

.fakeqq-message__bubble {
  position: relative;
  padding: 12px;
  min-height: 1em;
  min-width: 1em;
  border-radius: 15px;
  overflow-wrap: break-word;
  background-color: white;

  & > img {
    max-width: 300px;
    max-height: 350px;
    border-radius: 10px;
    // margin: 5px 0; // 如果单独一行得单独加这个，同一行有文字的话对齐文字也可以
  }

  .right-chat & {
    background-color: #0098fe;
    color: #fff;

    // .fakeqq-message__bubble-arrow {
    //   border-top-color: #0098fe;
    // }

    .fakeqq-message__quote {
      background-color: #1fa4ff;
    }
  }
}

.fakeqq-window {
  display: flex;
  min-width: 400px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  background-color: #f0f0f0;
}

.fakeqq-header {
  display: flex;
  padding: 12px 0;
  color: white;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #00dafe, #00ceff 12%, #01c5ff 25%, #01b9ff 50%, #01a7ff 85%);
}

.fakeqq-footer {
  background-color: #f5f4f2;
}

.fakeqq-header__bth {
  height: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.fakeqq-header__title .fakeqq-header__bth {
  height: 13px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 3px;
  vertical-align: middle;
  opacity: 0.7;
}

.fakeqq-container {
  flex: 1;
  overflow: overlay;
}

.fakeqq-footer__input {
  display: flex;
  margin-top: 10px;
}

.fakeqq-footer__input-text {
  width: 100%;
  height: 19px;
  min-height: 19px;
  max-height: 130px;
  padding: 0 8px;
  margin-left: 20px;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 15px;
  border: 5px solid white;
  background-color: white;
  outline: none;
  resize: none;
  overflow: overlay;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.fakeqq-footer__input-text::-webkit-scrollbar {
  display: none;
}

.fakeqq-footer__input-btn {
  width: 70px;
  height: 29px;
  margin-left: 5px;
  margin-right: 20px;
  color: white;
  font-size: 15px;
  line-height: 29px;
  border: none;
  border-radius: 15px;
  background-color: #75c3f4;
}

.fakeqq-footer__input-btn:hover {
  background-color: #0098fe;
}

.fakeqq-footer__btn {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.fakeqq-footer__btn img,
.fakeqq-footer__btn svg {
  height: 20px;
}

.fakeqq-message__quote {
  background-color: #ebecee;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 0.85em;
}

.fakeqq-message__quote-name {
  margin-bottom: 3px;
}

.fakeqq-message__quote-content:deep() > img {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 180px;
  max-height: 200px;
  border-radius: 10px;
}

.fakeqq-voice {
  display: flex;
  align-items: center;
}

.fakeqq-voice svg {
  height: 1em;
  width: 1em;
}

.fakeqq-voice svg circle {
  fill: #000;
}

.fakeqq-voice svg path {
  fill: #fff;
}

.fakeqq-voice__bar {
  display: inline-flex;
  height: 1em;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
}

.fakeqq-voice__bar .line {
  width: 3px;
  height: 100%;
  margin: 0 1px;
  border-radius: 2px;
  background-color: #000;
}

.fakeqq-voice__bar .line:nth-child(1n) {
  height: 73%;
}

.fakeqq-voice__bar .line:nth-child(2n) {
  height: 78%;
}

.fakeqq-voice__bar .line:nth-child(3n) {
  height: 84%;
}

.fakeqq-voice__bar .line:nth-child(4n) {
  height: 66%;
}

.fakeqq-voice__bar .line:nth-child(5n) {
  height: 58%;
}

.fakeqq-voice__bar .line:nth-child(6n) {
  height: 75%;
}

.fakeqq-voice__bar .line:nth-child(7n) {
  height: 95%;
}

.fakeqq-voice__bar .line:nth-child(8n) {
  height: 100%;
}

.fakeqq-toast {
  color: #8b8b8b;
  font-size: 12px;
  text-align: center;
}

.fakeqq-forward .fakeqq-message__bubble {
  min-width: 180px;
  max-width: 350px;
  padding-bottom: 5px;
  border-bottom: 30px solid #f7f7f7;
  overflow-wrap: break-word;
}

.fakeqq-forward__title {
  margin-bottom: 5px;
}

.fakeqq-forward__content,
.fakeqq-forward__count {
  color: #8b8b8b;
  font-size: 0.8em;
  word-break: break-all;
}

.fakeqq-forward__count {
  position: absolute;
  line-height: 30px;
  bottom: -30px;
}

.fakeqq-file__content {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 180px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fakeqq-file__info {
  width: 120px;
}

.fakeqq-file__name {
  overflow: hidden;
  display: -webkit-box; // 虽然是 webkit 但火狐也可以用
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.fakeqq-file__size {
  margin-top: 3px;
  color: #8b8b8b;
  font-size: 13px;
}

.fakeqq-file__icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 60px;
}

.fakeqq-file__icon img {
  max-height: 100%;
  border-radius: 3px;
}

.contextmenu {
  position: absolute;
  z-index: 100;
  width: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}